/* .name{
    font-size: 20px;
}
.location{
    text-align: left;
    font-size: 16px;
    padding-left: 3px;
    font-weight: 500;
    margin: 0px;
    color: rgb(135, 135, 135);
}*/
.title{
    position: absolute;
    /* margin: 0px; */
    font-size: 15px;
    font-weight: 500;
} 
.parent-container{
    display: flex;
    justify-content: center;
  }
  .container{
    width: 400px;
    
  }
  .post-container{
    margin: 20px 0;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 5px;
    width: 400px;
    overflow: hidden;
    animation-name: posts-anim;
    animation-duration: 0.5s;
  }
  .image-box{
    width: 400px;
    height: 250px;
  }
  .post-image{
    width: 400px;
    height: 250px;
  }
  .header{
    border: 1px solid rgb(225, 225, 225);
    border-radius: 5px 5px 0 0;
    border-bottom: none;
    padding: 8px 10px;
    display: flex;
    justify-content: space-between;
    background-color: white;
  }
  .name{
    font-size: 20px;
    margin: 0px ;
  }
  .location{
    font-size: 18px;
    margin:0px ;
    font-weight: 500;
    color: rgb(135, 135, 135);
  }
  .footer{
    border: 1px solid rgb(225, 225, 225);
    border-radius: 0px 0px 5px 5px;
    border-top: none;
    padding: 8px 10px;
    background-color: white;
    position: relative;
    height: 90px;
  }
  /* .like{
    position: absolute;
   
  } */
  .send-icon{
    width: 20px;
    position: absolute;
    left: 45px;
    top: 10px;
    cursor: pointer;
  }
  /* .date{
    position: absolute;
    right: 10px;
    font-size: 11px;
    font-weight: 500;
    color: rgb(135, 135, 135);
  } */
  /* .likes{
    position: absolute;
    top: 33px;
    font-size: 10px;
    font-weight: 500;
    left: 15px;
    color: rgb(135, 135, 135);
  } */
  .title{
    position: absolute;
    bottom: 15px;
    font-size: 15px;
    font-weight: 600;
  }
  .doc-head{
    display: flex;
    justify-content:space-between;
    padding: 15px 50px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    height: 65px;
    align-items: center;
    width: 100;
    background-color: white;
    animation-name: header-anim;
    animation-duration: 0.5s;
  }
  .insta-pic{
    width:40px;
  }
  .camera-pic{
    width:33px;
    cursor: pointer;
  }
  .logo{
    display:flex;
  }
  .insta-text{
    padding: 0 10px;
    font-size:30px;
    
  }
  .heart-icon{
    width: 20px;
    cursor: pointer;
  }
  .more-icon{
    width: 15px;
    cursor: pointer;
  }
  @keyframes header-anim{
    from{
      height: 0px;
      opacity: 0;
    }to{
      height: 65px;
      opacity: 1;
    }
  
  }
  @keyframes posts-anim{
    from{
      opacity: 0;
    }to{
      opacity: 1;
    }
  
  }